<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/imgs/animals/animaux.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to the Jungle</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Vous voici dans le mini jeu d'association de bruits d'animaux avec des images, cliquez sur le bouton play pour commencer</p>
      </ion-card-content>
    </ion-card>
    <ion-button color="success" expand="full" routerLink="/play" routerDirection="forward">Lancer le jeu</ion-button>

</ion-content>
